.tweet-text-footer {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
  justify-content: end;
  align-self: center;
}

#submit-tweet-button {
  padding: 0.2em 0.4em;
  border: none;
  background-color: #4056a1;
  color: #fff;
}
#new-tweet {
  justify-content: center;
  padding: 3em 0em;
}

/* tweet container */
.tweet-container {
  font-family: sans-serif;
  border: solid 4px;
  padding: 1em 1em;
  margin-top: 2em;

  box-shadow: 0 1px 3px rgba(64, 86, 161, 0.12),
    0 1px 2px rgba(64, 86, 161, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tweet-container:hover {
  box-shadow: 0 14px 28px rgba(64, 86, 161, 0.25),
    0 10px 10px rgba(64, 86, 161, 0.22);
}
.tweet-head {
  display: flex;
  justify-content: space-between;
}
.user-data {
  display: flex;
  gap: 1em;
}
.tweet-container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  /* padding-top: 1em; */
  border-top: solid 4px;
}
.user-handle,
.tcf-time {
  font-size: 0.7em;
}
.user-handle {
  /* justify-content: end; */
}

.tcf-time {
  align-self: center;
}
.btn {
  background-color: transparent;
  border: none;
  color: #4056a1;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  color: #1c2749;
}
